* {
	font-family: 'Lato', sans-serif;
}

body {
		background: #4ADBC8; /* For browsers that do not support gradients */
    background: -webkit-gradient(linear, left top, left bottom, from(#4ADBC8), to(#293f50));
    background: -o-linear-gradient(#4ADBC8, #293f50); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4ADBC8, #293f50); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4ADBC8, #293f50); /* Standard syntax */
    background-repeat: no-repeat;
    min-height: 700px;
}

h1, body a {
	font-family: 'Fredoka One', cursive;
	text-align: center;
	color: white;
}

form input {
	font-family: 'Fredoka One', cursive;
}


div.view {
	border: solid black 2px;
	background-color: white;
	padding: 10px;
	font-family: 'Fredoka One', cursive;
}

.button_holder, div.view a {
	text-align: center;
	color: black;
}