<h1>Login</h1>

<div class="view">
	<form action="/login" method="POST" class="view">
	  <input type="text" name="username" placeholder="Username:">
	  <input type="password" name="password" placeholder="Password:">
	  <input type="submit" value="Log In">
	</form>
</div>