<h1><%=current_user.username%>'s Bucketlist</h1>

<div class="view">

	<ol>
		<% current_user.items.each do |item| %>
			<li><a href="/items/<%=item.id%>"><%=item.name%></a></li>
		<% end %>
	</ol>

</div>