<h1>Bucketlist</h1>
<h2>Explore what our users' want to achieve in their lifetime</h2>

<div class="view">
	<ol>
	<% @items.each do |item| %>
		<li><a href="items/<%=item.id%>"><%=item.name%></a></li>
	<% end %>
	</ol>
</div>